header {
  position: relative;
  left: 0;
  top: 0;
  height: auto;
}
.header__center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 0.625rem;
  position: relative;
}
#nav__menu {
  display: block;
}
.nav__menu > img {
  width: 2rem;
  object-fit: cover;
  height: 2rem;
}
.nav {
  display: none;
}
.nav > ul {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.nav--list > a {
  font-weight: var(--font-sm);
  font-size: 1.0625rem;
  line-height: 1.375rem;
  color: var(--clr-secondary-black);
}
.nav--list > a:hover {
  color: var(--clr-primary-orange);
}
.signup > a {
  border: 1px solid var(--clr-secondary-black);
  border-radius: 0.3125rem;
  padding: 0.5625rem 1.3125rem;
}
.signup > a:hover {
  border: 1px solid var(--clr-primary-orange);
}
.nav--list select {
  border: none;
  outline: none;
  background: none;
}

.hero {
  padding: 1.25rem;
}
.hero__center {
  display: flex;
  flex-direction: column-reverse;
}

.hero__content {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}
.hero__title {
  font-weight: var(--font-xl);
  font-size: 1.25rem;
  line-height: 1.875rem;
  text-transform: uppercase;
  color: var(--clr-primary-orange);
}
.hero__heading {
  font-family: var(--font-volkhov);
  font-weight: var(--font-xl);
  font-size: 1.875rem;
  color: var(--clr-secondary-blue);
}
.hero__slogan {
  font-weight: var(--font-md);
  font-size: 1rem;
  line-height: 1.875rem;
  color: var(--clr-primary-grey);
}
.hero__cta {
  display: flex;
  align-items: center;
  gap: 1.875rem;
}
.cta__info {
  color: var(--clr-primary-white);
  background: var(--clr-primary-yellow);
  border: 1px solid var(--clr-primary-yellow);
  box-shadow: 0 1.25rem 2.1875rem rgb(241 165 1 / 15%);
  border-radius: 0.625rem;
  text-align: center;
  padding: 0.625rem 0;
}
.cta__info:hover {
  background-color: transparent;
  border: 1px solid var(--clr-primary-yellow);
  color: 1px solid var(--clr-primary-yellow);
}
.cta__demo {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.cta__txt {
  font-family: var(--font-volkhov);
}

.hero__image--container {
  max-width: 18.75rem;
}
.hero__image {
  width: 100%;
}
.background--image {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  overflow: hidden;
}

#toggle-item {
  /* display: none; */
  position: absolute;
  right: 0;
  padding-right: 10px;
}
#toggle-item > img {
  width: 2rem;
  object-fit: cover;
  height: 2rem;
}
.dropdown__items {
  position: absolute;
  display: none;
  height: 0;
  flex-direction: column;
  right: 0;
  padding-right: 10px;
  top: 50px;
  overflow: hidden;
  margin: 10px;
  border-radius: 5px;
}
.dropdown__items.open {
  display: flex;
  height: auto;
}
.dropdown__items > a {
  color: var(--clr-secondary-black);
}
.dropdown__items > a:hover {
  color: var(--clr-primary-orange);
}

#services {
  padding: 3.125rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.service {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.875rem;
  max-width: 75rem;
  margin: 0 auto;
}
.service__article {
  box-shadow: 0 0.1875rem 0.8135rem rgb(0 0 0 / 20%);
  text-align: center;
  gap: 0.625rem;
  display: flex;
  flex-direction: column;
  padding: 0.625rem 0.3125rem;
}
.service__article > h4 {
  font-family: var(--font-openSans);
  font-weight: var(--font-lg);
  font-size: 1.25rem;
  line-height: 1.6875rem;
  text-align: center;
  color: var(--clr-tertiary-blue);
}
.service__article > p {
  font-weight: var(--font-md);
  font-size: 1rem;
  line-height: 1.625rem;
  text-align: center;
  color: var(--clr-primary-grey);
}
.service__article > img {
  display: flex;
  margin: 0 auto;
}

#destinations {
  padding: 3.125rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}
.locations {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.875rem;
  max-width: 75rem;
  margin: 0 auto;
}
.locations__article {
  box-shadow: 0 1.25rem 2.1875rem rgb(40 39 37 / 15%);
  border-bottom-right-radius: 1.25rem;
  border-bottom-left-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding-bottom: 1.25rem;
}
.locations__image {
  max-width: 20.0625rem;
}
.locations__image > img {
  width: 100%;
}
.location__package,
.location__span {
  padding: 0 1.25rem;
}
.location__package,
.location__span > span {
  font-weight: var(--font-md);
  font-size: 1.125rem;
  line-height: 124.5%;
  color: var(--clr-primary-grey);
}
.location__package {
  display: flex;
  justify-content: space-between;
}
.location__span {
  display: flex;
  gap: 1.25rem;
}

#bookings {
  padding: 3.125rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}
.booking,
.booking__context,
.features,
.feature,
.feature__header,
.card__info {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}
.booking__image {
  max-width: 20.0625rem;
}
.card__info {
  box-shadow: 0 1.25rem 2.1875rem rgb(40 39 37 / 15%);
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  padding-bottom: 1.25rem;
}
.card__info {
  gap: 0.625rem;
}
.feature {
  gap: 0.625rem;
}
.feature > img {
  width: 3rem;
  height: 3rem;
}
.feature__header {
  gap: 0.625rem;
}
.feature__title,
.feature__desc {
  font-weight: var(--font-xl);
  font-size: 1rem;
  line-height: 124.5%;
  color: var(--clr-primary-grey);
}
.feature__desc {
  font-weight: var(--font-sm);
}
.card__image {
  max-width: 20.0625rem;
}
.card__image > img {
  width: 100%;
}
.card__desc {
  font-weight: var(--font-md);
  font-size: 1rem;
  line-height: 124.5%;
  color: var(--clr-secondary-grey);
}
.visitors__count {
  display: flex;
  justify-content: space-between;
  padding: 0 0.625rem;
}
.card__visitors--count {
  display: flex;
  gap: 1.25rem;
  align-items: center;
}
.card__svgs,
.card__desc,
.card__title {
  padding: 0 0.625rem;
}
.visitors__count > img {
  width: 1.5625rem;
  object-fit: cover;
}

#testimonials {
  padding: 3.125rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}
.testimonial__titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.875rem;
}

blockquote {
  font-weight: var(--font-md);
  font-size: 1rem;
  line-height: 2rem;
  color: var(--clr-primary-grey);
  margin-bottom: 2.125rem;
}
.testimonial__content > h4 {
  font-weight: var(--font-lg);
  font-size: 1.125rem;
  line-height: 1.6875rem;
  color: var(--clr-primary-grey);
}
.testimonial__content > p {
  font-weight: var(--font-md);
  font-size: 0.875rem;
  line-height: 1.3125rem;
  color: var(--clr-primary-grey);
}

#brands {
  padding: 3.125rem 1.25rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.875rem;
  place-items: center;
}
#brands > img {
  width: 5.67rem;
}

#subscribe {
  padding: 3.125rem 1.25rem;
}
.subscribe__info {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 0.625rem;
  background: var(--clr-secondary-white);
  max-width: 75rem;
  margin: 0 auto;
  padding: 0.3125rem;
  border-radius: 0.625rem;
}
.subscribe__info > h1 {
  font-weight: var(--font-lg);
  font-size: 1.25rem;
  line-height: 2.125rem;
  color: var(--clr-primary-grey);
  padding-top: 1.5625rem;
}
.subscribe__form {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  align-items: center;
  padding-bottom: 1.25rem;
}
.subscribe__form > input {
  color: var(--clr-tertiary-grey);
  padding: 0.625rem 0.4375rem;
  border: 1px solid var(--clr-primary-white);
  border-radius: 0.625rem;
  box-shadow: 0 0.1875rem 0.8135rem rgb(0 0 0 / 20%);

  width: 80%;
  max-width: 50rem;
  margin: 0 auto;
}
.subscribe__form > input:focus {
  border: 1px solid var(--clr-primary-white);
  outline: var(--clr-primary-white);
}
.subscribe__btn {
  padding: 0.625rem 0.3125rem;
  background: linear-gradient(180deg, #ff946d 0%, #ff7d68 100%);
  border-radius: 0.625rem;
  color: var(--clr-primary-white);
  max-width: 6.25rem;
  text-align: center;
}
.subscribe__btn:hover {
  opacity: 0.5;
}
.subscribe__image {
  position: absolute;
  top: 0;
  right: -1.25rem;
  transform: translateY(-50%);
}

#footer {
  padding: 3.125rem 1.25rem 0 1.25rem;
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}
.footer__content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.brand__content > h1 {
  font-weight: var(--font-md);
  font-size: 2.75rem;
  line-height: 4.235rem;
  color: var(--clr-secondary-blue);
}
.brand__content > p {
  font-weight: var(--font-md);
  font-size: 0.8135rem;
  line-height: 124.5%;
  color: var(--clr-primary-grey);
}
.footer__nav--wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.25rem;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.footer__nav > h4 {
  font-weight: var(--font-xl);
  font-size: 1.3125rem;
  line-height: 124.5%;
  color: var(--clr-primary-black);
}
.footer__nav--menu {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.footer__a {
  font-weight: var(--font-md);
  font-size: 1.125rem;
  line-height: 124.5%;
  color: var(--clr-primary-grey);
}
.footer__a:hover {
  color: var(--clr-primary-orange);
}

.footer__cta {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.footer__cta > p {
  font-weight: var(--font-md);
  font-size: 1.25rem;
  line-height: 124.5%;
  letter-spacing: 0.005em;
  color: var(--clr-primary-grey);
}
.footer__socials {
  display: flex;
  gap: 0.625rem;
}
.footer__socials--btn {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.footer__btn--container {
  background: var(--clr-primary-black);
  display: flex;
  align-items: center;
  padding-left: 0.625rem;
  border-radius: 0.625rem;
  width: 10.625rem;
}
.play-info {
  padding: 0.625rem;
}
.footer__rights {
  font-weight: var(--font-md);
  font-size: 0.875rem;
  line-height: 124.5%;
  color: var(--clr-primary-grey);
}
@media screen and (min-width: 18.75rem) {
  .feature {
    flex-direction: row;
    align-items: center;
    gap: 1.25rem;
  }
  #brands {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 25rem) {
  .service__article > h4 {
    font-size: 1.5625rem;
  }
  .service__article > p {
    font-size: 1.25rem;
  }
  .booking__context > .heading {
    text-align: left;
    font-size: 3.75rem;
    line-height: 3.75rem;
  }
  .feature__title,
  .feature__desc {
    font-size: 1.25rem;
  }
  .testimonial {
    max-width: 31.25rem;
    margin: 0 auto;
  }
  .testimonial__titles > h1 {
    font-size: 3.75rem;
    line-height: 3.75rem;
  }
  blockquote {
    font-size: 1.25rem;
  }
  .testimonial__content > h4 {
    font-size: 1.25rem;
  }
  .testimonial__content > p {
    font-size: 1rem;
  }
  #brands {
    grid-template-columns: repeat(3, 1fr);
  }
  .subscribe__info > h1 {
    font-size: 1.5625rem;
    line-height: 2.5rem;
  }
  .subscribe__info {
    gap: 1.875rem;
  }
  .subscribe__form {
    gap: 1.875rem;
  }
  .subscribe__form > input {
    padding: 1.25rem 0.625rem;
    font-size: 1.25rem;
  }
  .subscribe__btn {
    max-width: 9.375rem;
    font-size: 1.25rem;
    padding: 0.9375rem 0.625rem;
  }
  .footer__socials--btn {
    flex-direction: row;
  }
}
@media screen and (min-width: 31.25rem) {
  .hero__heading {
    font-size: 3.75rem;
  }
  .cta__info {
    padding: 0.625rem;
  }
  .hero__image--container {
    display: none;
  }
  .booking {
    max-width: 31.25rem;
    margin: 0 auto;
  }
  .subscribe__info {
    padding: 1.25rem;
  }
  .subscribe__info > h1 {
    font-size: 1.875rem;
    line-height: 3.125rem;
  }

  .brand__content > h1 {
    font-size: 3.75rem;
  }
  .brand__content > p {
    font-size: 1.125rem;
    max-width: 25rem;
    line-height: 1.875rem;
  }
  .footer__wrapper {
    max-width: 31.25rem;
    margin: 0 auto;
  }
  .footer__nav > h4 {
    font-size: 1.875rem;
  }
  .footer__a {
    font-size: 1.5625rem;
  }
  .footer__socials {
    font-size: 1.5625rem;
  }
  .footer__rights {
    font-size: 1.25rem;
    text-align: center;
  }
}
@media screen and (min-width: 37.5rem) {
  .service {
    grid-template-columns: 1fr 1fr;
  }
  .service__article {
    max-width: 17.5rem;
  }
  .locations {
    grid-template-columns: repeat(2, 1fr);
  }
  #brands {
    grid-template-columns: repeat(4, 1fr);
  }
  .footer__wrapper {
    max-width: 75rem;
  }
  .footer__nav--wrapper {
    grid-template-columns: repeat(2, minmax(18.75rem, 1fr));
  }
}

@media screen and (min-width: 43.75rem) {
  .hero__heading {
    font-size: 5rem;
  }
  .booking__context > .heading {
    font-size: 5rem;
    line-height: 5rem;
  }
  .testimonial {
    max-width: 37.5rem;
  }
  #brands {
    grid-template-columns: repeat(5, 1fr);
    max-width: 75rem;
    margin: 0 auto;
  }
  .subscribe__info > h1 {
    font-size: 2.1875rem;
  }
  .footer__nav--wrapper {
    grid-template-columns: repeat(3, minmax(12.5rem, 1fr));
  }
}
@media screen and (min-width: 56.25rem) {
  #nav__menu {
    display: none;
  }
  .dropdown__items {
    display: none !important;
    height: 0 !important;
  }
  .nav {
    display: block;
  }

  .hero__center {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .hero__image--container {
    display: block;
    max-width: 100%;
  }
  .service {
    grid-template-columns: repeat(3, 1fr);
  }
  .booking {
    max-width: 75rem;
    flex-direction: row;
  }
  .booking__context > .heading {
    font-size: 3.75rem;
    line-height: 3.75rem;
  }
  .booking .booking__image,
  .card__image {
    max-width: 100%;
    width: 100%;
  }
  .testimonial {
    max-width: 75rem;
    display: flex;
    gap: 1.875rem;
  }
  .testimonial__titles {
    width: 100%;
  }
  .testimonial__content {
    max-width: 37.5rem;
    width: 100%;
  }
  .subscribe__info > h1 {
    font-size: 2.5rem;
    line-height: 3.75rem;
  }
  .footer__content {
    flex-direction: row;
    justify-content: space-between;
  }
  .brand__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .brand__content > h1 {
    font-size: 1.875rem;
    line-height: 2.1875rem;
  }
  .footer__nav--wrapper {
    grid-template-columns: repeat(3, minmax(8.125rem, 1fr));
  }
  .footer__btn--container {
    width: 6.25rem;
  }
  .footer__nav > h4 {
    font-size: 1.3125rem;
  }
  .footer__a {
    font-size: 1.125rem;
  }
}
@media screen and (min-width: 75rem) {
  .service {
    grid-template-columns: repeat(4, 1fr);
  }
  .locations {
    grid-template-columns: repeat(3, 1fr);
  }
}
