body {
  font-family: var(--font-poppins);
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.container {
  margin: 0 auto;
  max-width: 75rem;
}
.title {
  text-align: center;
  font-weight: var(--font-lg);
  font-size: 1.125rem;
  line-height: 1.6875rem;
  color: var(--clr-primary-grey);
}
.heading {
  font-family: var(--font-volkhov);
  font-weight: var(--font-xl);
  font-size: 1.875rem;
  line-height: 1.875rem;
  text-align: center;
  text-transform: capitalize;
  color: var(--clr-primary-blue);
}
